import(Matrix)
import(methods)
import(snpStats)
import(GO.db)

importFrom(erma, genemodel)
importFrom(BiocGenerics, path)
importFrom(Rsamtools, TabixFile, index, "index<-")
importFrom(VariantAnnotation, readVcf, genotypeToSnpMatrix,
   ScanVcfParam, scanVcfHeader, VcfFileList)
importFrom(GenomeInfoDb, "seqlevelsStyle<-")
importFrom(GenomicFiles, VcfStack)
importFrom("utils", "download.file", "read.delim")

importClassFrom(GenomicFiles, VcfStack)

exportClass("ldstruct")

export("downloadPopByChr", 
       "expandSnpSet",     
       "hmld",
       "ldmat", "ldByGene", "s3_1kg", "stack1kg")
